@font-face {
  font-family: "Mersad";
  src: url("../assets/fonts/Mersad\ Medium.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Mersad";
  src: url("../assets/fonts/Mersad\ Light.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Mersad";
  src: url("../assets/fonts/Mersad\ Regular.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Mersad";
  src: url("../assets/fonts/Mersad\ SemiBold.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Mersad";
  src: url("../assets/fonts/Mersad\ ExtraBold.ttf") format("truetype");
  font-weight: 500;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  padding: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black; 
  border-left: 1px solid rgba(255,255,255,0.1);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
  border: 0.1px solid rgba(255,255,255,0.8);
}

::selection{
  background: white;
  color: black;
}

.drawer-open{
  overflow: hidden;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Mersad";
  letter-spacing: .5px;
}


html{
  scroll-behavior: smooth;
  scroll-snap-stop: always;
  background: black;
}

html:not(:target) {
  scroll-behavior: smooth !important;
  transition: scroll-behavior 1000ms ease-in-out;
  
}

body {
  overflow-y: scroll;
  overscroll-behavior-y: none;
}


@media (max-width:1030px) {
}
canvas {
  display: block;
  vertical-align: bottom;
}

div {
  z-index: 2;
}

a {
  transition: 0.5s;
  text-shadow: 3px 3px 0 rgba(255, 255, 255, 0.1);
}

a:hover {
  text-shadow: none;
}
