.body{
    display: flex;
    position: relative;
}

.body nav{
    width: 110px;
    height: 100vh;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    padding: 1rem;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    z-index: 999;
}

.body nav a{
    text-decoration: none;
    color: white;
    font-family: "Mersad";
    font-weight: 200;
    transform: rotate(-90deg);
}

.body nav .social{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding-bottom: 1rem;
}

.body nav .social a{
    transform: rotate(0deg);
}

.body .main_body{
    margin-left: 110px;
    width: 100%;
}

.header{
    height: 100vh;
    color: white;
    width: 100%;
    display: flex;
  background-color: rgba(0,0,0,0.92);

}

.header .left{
    width: 50%;
    height: 100vh;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header .left h1{
    font-family: "Mersad";
    font-weight: 500;
    font-size: 75px;
    color: black;
    -webkit-text-stroke: 1px white;
    line-height: 4rem;
    cursor: pointer;
    
}

.header .left h1 span{
    color: white;
}

.header .left p{
    font-family: 'Mersad';
    font-weight: 400;
    font-size: 25px;
    margin: 2.5rem 0;
    width: 60%;
}

.header .left .btn p{
    font-family: 'Mersad';
    font-weight: 400;
    font-size: 17px;
    width: 100%;
    color: black;
    margin: 0;
    
}

.header .left .btn{
    background: white;
    width: fit-content;
    padding: 13px 20px;
    height: fit-content;
    cursor: pointer;
    z-index: 99;
}

.drawer{
    width: 0;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0rem;
    background-color: #111111;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    z-index: 9999;
    row-gap: 2rem;

}

.drawer a{
    text-decoration: none;
    color: white;
    font-family: "Mersad";
    font-weight: 300;
    font-size: 27px;
    position: relative;
}

.drawer a:hover > a::after{
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background-color: white;
    bottom: -3px;
    left: 0;
}


.drawer div{
    margin-top: 3rem;
    display: flex;
    column-gap: 1rem;
}

.drawer div a::after {
    display: none;
}
.right{
    width: 50%;
    
    background-color: #111;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.particle {
    position: absolute;
    height: 100%;
    background-color: black;
    background-position: bottom;
    background-repeat:no-repeat ;
    background-size: cover;

}

.showOff{
    position: absolute;
    top: 30px;
    left: -40px;
    background: white;
    color: black;
    z-index: 99;
    padding: .5rem 2.5rem;
    transform: rotate(-45deg);

}
.showOffBottom{
    position: absolute;
    bottom: 50px;
    right: -60px;
    background: white;
    color: black;
    z-index: 99;
    padding: .7rem 3rem;
    transform: rotate(-45deg);
    font-size: 14px;

}

.email{
    position: fixed;
    bottom: 12rem;
    right: -40px;
    transform: rotate(90deg);
    color: white;
    display: flex;
    align-items: center;
}

.email a{
    color: white;
    text-decoration: none;
}

.email a::after{
    content: "";
    position: absolute;
    width: 120px;
    background: white;
    height: 1px;
    bottom: 50%;
    margin-left: 10px;
}

.about{
    color: white;
    background-color: black;
    padding: 5rem 4rem;
    border-top: 1px solid rgba(255,255,255,0.1);
}

.about .about_head{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.about .about_head h3{
    font-size: 30px;
}

.about .about_head div{
    content: "";
    width: 30%;
    height: 1px;
    background: rgba(255,255,255,0.2);
}
.works{
    color: white;
    background-color: black;
    padding: 5rem 4rem;
    border-top: 1px solid rgba(255,255,255,0.1);
}

.works .works_head{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.works .works_head h3{
    font-size: 30px;
}

.works .works_head div{
    content: "";
    width: 30%;
    height: 1px;
    background: rgba(255,255,255,0.2);
}

.about .content{
    padding-top: 1rem;
    display: flex;
}

.about .content p{
    font-size: 17px;
    font-weight: 200;
}

.about .content .text{
    width: 50%;
    padding-bottom: 2rem;
}

.about .tech{
    padding: 1.5rem 0;
}

.about .tech ul li:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-right: 10px;
    background: white;
  }

  .about .tech h4{
    font-weight: 300;
  }

.about .tech ul{
    display: grid;
    grid-template-columns: auto auto;
    padding-top: .5rem;
    row-gap: 10px;
    font-weight: 100;
    width: 50%;
    
    
}

.about .tech li{
    list-style-type: none;
    display: flex;
    align-items: center;
    font-family: monospace;
}

.bt_line{
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    padding: 9px;
    background:  #0e0e0e;
    color: white;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(255,255,255,0.1);
}

.bt_line p{
    font-weight: 100;
}

.bt_line p a{
    color: white;
    text-shadow: none;
    opacity: .5;
    
}

.about .image{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: saturate(100%) brightness(80%);
    
      
}


.about .image img{
    width: 70%;
    
}

.works_grid{
    display: grid;
    padding: 1rem 0;
    grid-template-columns: auto auto auto;
    grid-gap: 1.5rem;
}

.works_grid a{
    color: white;
    text-decoration: none;
    text-shadow: none;
}

.works_grid .work{
    padding: 1rem;
    border: 1px solid rgba(255,255,255,0.1);
    transition: .5s;
    cursor: pointer;
    transition: .5s;
}

.works_grid .work div img{
    width: 100%;
    object-fit: cover;
    height: 200px;
    opacity: .7;
    transition: .8s;
    
}

.works_grid .work:hover > div img{
    opacity: 1;
    scale: 1.05;
}

.works_grid .work:hover{
    border: 1px solid rgba(255,255,255,0.4);
}
.works_grid .work .lang{
    font-size: 11px;
    display: flex;
    column-gap: 7px;
    opacity: 0.9;
    margin-top: 1rem;
    flex-wrap: wrap;
    row-gap: 7px;
}

.works_grid .work div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 22px;
    column-gap: .5rem;
    padding-top: .7rem;
    width: 100%;
}

.works_grid .work div a{
    cursor: pointer;
}

.works_grid .work div a:hover{
    opacity: .5;
}

.works_grid .work h3{
    padding: .5rem 0;
    font-size: 22px;
}

.works_grid .work p{
    font-weight: 200;
    font-size: 15px;
}

.footer{
    border-top: 1px solid rgba(255,255,255,0.1);
    color: white;
    padding: 5rem 2rem;
    margin-bottom: 15px;
    padding-bottom: calc(5rem + 38px);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.footer h1{
    font-size: 40px;
    padding-bottom: 1rem;
}

.footer .text{
    padding-bottom: 1.4rem;
    
}

.footer p{
    max-width: 600px;
    margin: 0 auto;
    opacity: .5;
    margin-bottom: 1rem;
}

.footer .btn a{
    font-family: 'Mersad';
    font-weight: 400;
    font-size: 17px;
    width: 100%;
    color: black;
    margin: 0;
    text-decoration: none;
    
}

.footer .btn{
    background: white;
    width: fit-content;
    padding: 13px 20px;
    height: fit-content;
    cursor: pointer;
    margin-top: 1rem;
    
}

.footer .design{
    color: white;
    text-shadow: none;
    text-decoration: none;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    opacity: .8;
}

.footer .design:hover{
    opacity: .5;
}


.hamburger{
    display: none;
}

.imgs{
    max-width: 270px;
    max-height: 270px;
    display: none;
    object-fit: contain;
    margin-top: 1.5rem;
}


@media (max-width:1030px) {
    .body nav{
        display: none;
    }
    .body .main_body{
        margin-left: 0;
    }
    .hamburger{
        display: flex;
    }
    
    .header{
        display: block;
        background-size: cover;
        background-position: center;
    }
    .right{
        display: none;
    }
    .imgs{
        display: block;
    }
    .header .left h1{
        font-size: 60px;
        line-height: 3.3rem;
    }
    .header .left{
        width: 100%;
        height: 100vh;
    }
    .header .left p{
        width: 100%;
        font-size: 23px;
    }
    .email{
        display: none;
        bottom: 7rem;
        right: -40px;

    }
    .email a{
        font-size: 14px;
    }
    .about{
        padding:3rem 2rem;
        position: relative;
        overflow: hidden;
    }

    .about .about_head{
        z-index: 2;
    }
    .about .about_head h3{
        font-size: 22px;
    }
    .about .about_head div{
        width: 50%;
    }
    

    .about .content{
        flex-direction: column;
    }
    .about .content .text{
        width: 100%;
    }
    .about .content p{
        font-size: 13px;
        line-height: 19px;
        
    }
    .about .tech ul{
        font-size: 12px;
        width: 70%;
    }
    .about .image{
        all: revert;
        width: 100%;
        position: absolute;
        height: 300px;
        top: 0;
        left: 0;
        
    }

    .about .image img{
        width: 750px;
        height: 700px;
        object-fit: cover;
        opacity: .1;
    }

    .works{
        padding:3rem 2rem;
    }
    .works .works_head h3{
        font-size: 22px;
    }
    .works .works_head div{
        width: 45%;
    }
    .bt_line{
        margin-left: 0;
    }
    .works_grid{
        grid-template-columns: auto auto;
    }
    
}



@media (max-width:700px) {
    .works_grid{
        grid-template-columns: auto;
        align-items: center;
        justify-content: center;
    }
    .footer p{
        font-size: 13px;
        
    }
 
}